/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;800&family=Parisienne&family=Roboto&family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");

/* Root element (aka html) */
:root {
  box-sizing: border-box;
  scroll-behavior: smooth;

  /* CSS Variables */
  --ff-parisienne: "Parisienne", cursive;
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-lora: "Lora", serif;
  --ff-roboto: "Roboto", sans-serif;
  --ff-arsenal-sc: "Arsenal SC", cursive;
  --fs-paragraphs: calc(0.8rem + 0.35vw);
  --fs-links-btns: calc(0.65rem + 0.5vw);
}

/* Global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

span {
  color: #7c7c7c;
  padding: 0 40px;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: saturate(180%) blur(10px);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  z-index: 10;
  color: whitesmoke;
  height: 70px;
}

.logo-container {
  display: flex;
  align-items: center;
  min-width: 600px; 
  max-width: 100%; /* Ensure minimum space for logo and title */
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.img2 {
  width: 65px;
  height: 65px;
  margin-right: 10px;
}

.logo {
  font-family: var(--ff-rubik-dirt);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: 300;
  color: rgb(254, 252, 252);
  white-space: nowrap; /* Prevent title from wrapping */
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  font-family: var(--ff-montserrat);
  margin: 0 15px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.menu-btn {
  display: none;
  cursor: pointer;
}

/* Adjustments for smaller screens */
@media (max-width: 1024px) {
  .navbar {
    padding: 12px 10px;
  }

  .logo-container {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .logo {
    font-size: 1.3rem;
  }

  .img2 {
    display: none;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav-links.show-nav-links {
    display: flex;
  }

  .menu-btn {
    display: block;
  }
}

/* Additional styles for showing menu links when menu button is clicked can be added here */

.cir_border {
  padding: 6px 20px;
  font-weight: bold;
  border: 2px hidden whitesmoke;
  border-radius: 20px;
  margin: 0 -10px;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url("../img/bgdu.JPG");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
}

.header-content {
  font-family: var(--ff-lora);
  letter-spacing: 0.5rem;
  color: rgb(255, 255, 255); 
  text-align: center;
  z-index: 1;
  padding: 4rem;
  margin-bottom: 150px;
}

.header-content h1 {
  -webkit-text-stroke: 1px rgb(0, 0, 0); /* Outline width and color */
  text-shadow: 
    2px 2px 4px rgba(0, 0, 0, 0.6), /* Black shadow with some transparency */
    -2px -2px 4px rgba(0, 0, 0, 0.6); /* Additional shadow for better visibility */
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;
}

.header-content h2 {
  font-size: 4vmin;
}

.line {
  width: 150px;
  height: 4px;
  background: #fc036b;
  margin: 10px auto;
  border-radius: 5px;
}

.ctn {
  font-family: var(--ff-montserrat);
  font-size: var(--fs-links-btns);
  font-weight: 700;
  padding: 13px 50px;
  background: #fc036b;
  border-radius: 30px;
  color: whitesmoke;
}

.menu-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  cursor: pointer;
  display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header-content {
    padding: 2rem;
    margin-bottom: 100px;
  }

  .header-content h1 {
    font-size: 6vmin;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .header-content h2 {
    font-size: 3vmin;
  }

  .ctn {
    padding: 10px 30px;
  }
}

@media (max-width: 576px) {
  .header-content {
    padding: 1rem;
  }

  .header-content h1 {
    font-size: 5vmin;
  }

  .header-content h2 {
    font-size: 2.5vmin;
  }

  .ctn {
    padding: 10px 20px;
  }

  .logo {
    font-size: 1.2rem;
  }

  .img2{
    display: none;
  }

  .navbar {
    padding: 12px 5px;
  }

  .nav-links {
    font-size: calc(0.6rem + 0.5vw);
  }

  .image-gallery {
    grid-template-columns: 1fr;
  }

  .container-gallery {
    width: 95%;
    height: auto;
  }
}

/* Events */
section {
  width: 80%;
  margin: 80px auto;
}

.tours {
  padding: 80px 0;
}

.title {
  text-align: center;
  font-size: 4vmin;
}

.red {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 200px; /* Adjust as needed to maintain aspect ratio */
  object-fit: cover; /* Ensures the image covers the entire space */
  border-radius: 8px 8px 0 0; /* Rounded corners on top */
}

.row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  height: auto;
}

.row .col img {
  width: 100%;
}

.events .row {
  margin-top: 50px;
}

.col > h4 {
  font-size: calc(1rem + 0.5vw);
  margin: 20px auto;
  font-family: var(--ff-lora);
}

.col p {
  color: #7c7c7c;
  padding: 0 20px;
}
